<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>TODO LIST</title>
    <!--    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.2.2/css/bootstrap.min.css">-->
    <!--    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.2.2/js/bootstrap.min.js"></script>-->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/semantic-ui/2.2.13/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/semantic-ui/2.2.13/semantic.min.css">
    <!--    boostrap-->


    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="{{ url_for('static', filename='js/anime.min.js') }}"></script>

</head>
<body>
<div class="ui vertical inverted thin sidebar menu left" id="todo-sidebar">
    <div class="item">
        <h2>Todo List</h2>
    </div>
    {% if current_user.is_authenticated %}
    <div class="ui item">
        <p>
            {{ current_user.username }}
        </p>
    </div>
    {% endif %}
    <div class="item ">
        <!--                    <div class="container-fluid text-center glyphicon-align-center" style="margin-bottom: 10px">-->
        <button id="get" class=" ui blue button fluid">Get Items</button>
    </div>
    <div class="item">
        <button id="add_module" class="ui blue button fluid">Add Module</button>
    </div>
    <div class="item">
        <button id="add" class=" ui blue button fluid">Add Item</button>
    </div>
    <div class="item">
        <button id="statics" class="ui blue button fluid">Show statics</button>
    </div>
    <div class="logout item">
        <a href="/logout" class="ui red button fluid">
            Logout
        </a>
    </div>
    <!--    <div class="item">-->
    <!--        <div class="ui floating labeled icon dropdown button fluid" id="filter" tabindex="0">-->
    <!--            <i class="filter icon"></i>-->
    <!--            <span class="text">Filter</span>-->
    <!--            <div class="menu transition hidden" tabindex="-1">-->
    <!--                <div class="header">-->
    <!--                    <i class="tags icon"></i>-->
    <!--                    Filter by tag-->
    <!--                </div>-->
    <!--                <div class="item">-->
    <!--                    ALL-->
    <!--                </div>-->
    <!--                <div class="item">-->
    <!--                    COMPLETED-->
    <!--                </div>-->
    <!--                <div class="item">-->
    <!--                    NOT COMPLETED-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    {% block navbar %}
    {% endblock %}
</div>
<div class="ui pusher">
    <div class="ui">
        <div class="ui masthead vertical segment">
            <div class="ui container">
                <div class="introduction">
                    <h1 class="ui center aligned header">TODO LIST</h1>
                </div>
            </div>

        </div>
        <br/>

        <div class="ui sticky black launch right attached bottom right fixed button todo-sidebar-button">
            <i class="content icon"></i>
        </div>
    </div>
    {% block content %}
    {% endblock %}

</div>


</body>
</html>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


