{% extends "base.html" %}

{% block content %}

    <div id="todo_list">
        <ul class="todo_list_ul">
        </ul>
    </div>
    <button id="get">get</button>






    <script>
        $(function () {
            $("#get").click(function () {
                $("#todo_list").html("");
                $.ajax({
                    url: "/api/todo",
                    type: "get",
                    success: function (data) {
                        console.log(data);
                        data = JSON.parse(data);
                        if (data.status !== "success") {
                            alert(data.message);
                        }
                        var items = data.items;
                        var html = "";
                        for (var i = 0; i < items.length; i++) {
                            var item = JSON.parse(items[i]);
                            console.log(item);
                            // html += "<div>" + items[i].title + "</div>";

                            // create new element for an entry
                            var new_element = document.createElement("li");
                            new_element.className = "todo_list_li";
                            var temp_innerHTML = "<h2>" + item.title + "</h2>";
                            temp_innerHTML += "<p>" + item.description + "</p>";
                            temp_innerHTML += "<p>" + item.date + "</p>";
                            if (item.completed === true) {
                                temp_innerHTML += "<p>Completed</p>";
                                temp_innerHTML += "<button class='complete' id='" + item.id + "'>Mark as incomplete</button>";
                            } else {
                                temp_innerHTML += "<p>Not Completed</p>";
                                temp_innerHTML += "<button class='complete' id='" + item.id + "'>Mark as complete</button>";
                            }
                            temp_innerHTML += "<button class='delete' id='" + item.id + "'>Delete</button>";
                            new_element.innerHTML = temp_innerHTML;

                            // add the new element to the list

                            $("#todo_list").append(new_element);
                        }
                        // $("#todo_list").html(html);

                    }
                })
            })

        })

        $(document).on("click", ".complete", function () {
            var id = $(this).attr("id");
            $.ajax({
                url: "/api/complete",
                type: "post",
                data: {
                    id: id,
                    csrf_token: "{{ csrf_token() }}"
                },
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.status !== "success") {
                        alert(data.message);
                    }
                    alert(data.message);
                    $("#get").click();
                }
            })
        })

        $(document).on("click", ".delete", function () {
            var id = $(this).attr("id");
            $.ajax({
                url: "/api/delete",
                type: "post",
                data: {
                    id: id,
                    csrf_token: "{{ csrf_token() }}"
                },
                success: function (data) {
                    console.log(data);
                    data = JSON.parse(data);
                    if (data.status !== "success") {
                        alert(data.message);
                    }
                    alert(data.message);
                    $("#get").click();
                }
            })
        })

    </script>
{% endblock %}

