{% extends "base.html" %}

{% block navbar %}


{% endblock %}


{% block content %}
<div class="ui container" id="add-form-placeholder"></div>
<div class="ui container" id="add-module-placeholder"></div>
<div class="ui container" id="detail-placeholder"></div>
<div class="ui container" id="statics-placeholder"></div>


<div class="ui container">
    <div class="ui container">
    <div class="ui floating labeled icon dropdown button float right" id="filter" tabindex="0">
        <i class="filter icon"></i>
        <span class="text">Filter</span>
        <div class="menu transition hidden" tabindex="-1">
            <div class="header">
                <i class="tags icon"></i>
                Filter by tag
            </div>
            <div class="item">
                ALL
            </div>
            <div class="item">
                COMPLETED
            </div>
            <div class="item">
                NOT COMPLETED
            </div>
        </div>
    </div>
</div>
    <div class="ui container">
        <div id="todo_list" class="ui grid stackable"></div>
        <div id="edit_form"></div>
    </div>
    <div class="ui container">

    </div>

</div>
<script src="{{url_for('static', filename='js/todo.js')}}"></script>

{% endblock %}

